.Toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #41444b;
    position: relative;
}

.Toolbar li {
    float: right;
}

.Toolbar li a {
    display: block;
    color: #ececec;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
}

.Toolbar a:hover,
.Toolbar a:active,
.Toolbar a.active {
    color: #ffaa71;
    text-decoration: underline;
}