.Footer {
  margin: 0;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #41444b;
  float: bottom;
}

.Footer p {
  color: #ececec;
  padding: 0px 16px;
}
